@charset "utf-8";

/*
ps_layout.css
M. Cook
2/7/21
Structural stylesheet for project showcase
*/

/* Header Styles */

header {
	text-align: center;
}

/* Vertical Nav Styles */

nav#vertNav {
	float: left;
	width: 10%;
	/*height: 100%;*/
}

nav#vertNav ul {
	/*padding: 2em 1em;*/
	padding-left: auto;
	padding-right: auto;
}

nav#vertNav li {
	padding: 2em 1em;
	font-size: 1em;
	/*height: 2.5em;*/
	vertical-align: center;
}

/* Body Styles */

body {
	margin-left: auto;
	margin-right: auto;
}

article {
	float: left;
	width: 90%;
	padding: 2em;
}

article p:first-of-type {
	padding: 1em 1em;
}

article ul {
	padding: 1em 1em;
}