@charset "utf-8";

/*
ps_styles.css
M. Cook
2/7/21
Styles for project showcase
*/

/* Body */

html {
	
}

body {
	background-color:  beige;
}

article {
	/*background: white;*/
	/*background: rgb(197, 179, 88);*/
}

/* Vertical Navigation */

nav#vertNav {
	background: rgb(71, 0, 35);
}

nav#vertNav a {
	color: rgb(197, 179, 88); /* That's gold, Jerry! */
}


/* Header */

header {
	/*background: rgb(96, 96, 96);*/
	/*background-color: rgb(49, 0, 24);*/
	background: rgb(71, 0, 35);
	color: rgb(197, 179, 88);
	padding: 1em 0;
	font-size: 3em;
}

/* Footer */

footer {
	background: rgb(139, 148, 165);
	width: 100%;
}